<div class="jss8">
  <div class="jss13 jss18 jss14 jss12 index__root___3k913 jss10" style="position:relative;box-shadow:none;">
    <div class="jss40 jss9 jss11">
      <div class="index__root___20cqe jss41">
        <div class="index__content___3UQ50">
          <div class="index__root___1wA6S"><a class="index__root___12BYS index__link___1GQYH jss42"
              href="/calendar/{{matchDay}}"><span><span class="index__icon___3xqZx jss44 index__root___2XTpz jss6"><svg
                    width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                    xml:space="preserve">
                    <g>
                      <g>
                        <path
                          d="M491.318,235.318H20.682C9.26,235.318,0,244.578,0,256c0,11.423,9.26,20.682,20.682,20.682h470.636 c11.423,0,20.682-9.259,20.682-20.682C512,244.578,502.741,235.318,491.318,235.318z">
                        </path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d="M49.932,256L211.795,94.136c8.077-8.077,8.077-21.172,0-29.249c-8.077-8.076-21.172-8.076-29.249,0L6.058,241.375 c-8.077,8.077-8.077,21.172,0,29.249l176.488,176.488c4.038,4.039,9.332,6.058,14.625,6.058c5.293,0,10.587-2.019,14.625-6.058 c8.077-8.077,8.077-21.172,0-29.249L49.932,256z">
                        </path>
                      </g>
                    </g>
                  </svg></span><span class="index__label___o1V9a">Retour</span></span></a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="content" class="index__content___1tHYv index__paddingBottomDisconnected___77ELY" style="padding-top:0">
  <div class="layout-children" style="position: relative; margin: auto; max-width: 1000px;">
    <div>
      <div class="jss13 jss18 jss14 jss12 index__root___3k913 index__root___123_k index__noBorderRadius___3b_Ot">
        <div class="jss40 jss11" style="padding-top:0">
          <div class="index__root___3uMj7">
            <div>
              <div class="index__root___2ZvTk index__normalBackground___2ufBn index__header___2D_QK">
                <div class="index__scores___3Rbha">
                  <div
                    class="index__root___x5XAj index__score___3hUb_ {{#if (gt teamHome.score teamAway.score)}}index__winner___2qr2j{{/if}}">
                    <div class="index__score___300rq animated slideInUp">{{teamHome.score}}</div>
                  </div>
                  <div
                    class="index__root___x5XAj index__score___3hUb_ {{#if (gt teamAway.score teamHome.score)}}index__winner___2qr2j{{/if}}">
                    <div class="index__score___300rq animated slideInUp">{{teamAway.score}}</div>
                  </div>
                </div>
                <div class="index__infos___1-ehx">
                  <div class="index__date___2TiJm"><span class="index__root___2XTpz jss6"><svg width="18" height="18"
                        viewBox="241 152 18 18">
                        <path
                          d="M254.065 160.13h-3.194v-3.775c0-.482-.39-.87-.87-.87s-.87.388-.87.87v5.516h4.935c.48 0 .87-.39.87-.87s-.39-.87-.87-.87zM250 152c-4.97 0-9 4.03-9 9s4.03 9 9 9 9-4.03 9-9-4.03-9-9-9zm0 16.258c-4.002 0-7.258-3.256-7.258-7.258 0-4.002 3.256-7.258 7.258-7.258 4.002 0 7.258 3.256 7.258 7.258 0 4.002-3.256 7.258-7.258 7.258z"
                          fill="#FFF" fill-rule="evenodd"></path>
                      </svg></span><span>{{timestampToDate dateMatch}}</span></div>
                  <div class="index__place___3ts3t">
                    <span>{{stadium}}</span><span class="index__root___2XTpz jss6"><svg width="14" height="18"
                        viewBox="1186 150 14 18">
                        <path
                          d="M1192.75 153.938c-1.554 0-2.813 1.258-2.813 2.812 0 1.554 1.26 2.813 2.813 2.813 1.554 0 2.813-1.26 2.813-2.813 0-1.554-1.26-2.813-2.813-2.813zm0 3.937c-.62 0-1.125-.505-1.125-1.125s.505-1.125 1.125-1.125 1.125.505 1.125 1.125-.505 1.125-1.125 1.125zm0-7.875c-3.728 0-6.75 3.023-6.75 6.75 0 1.35.396 2.605 1.077 3.66l4.49 6.947c.252.387.687.643 1.183.643s.93-.256 1.182-.644l4.49-6.947c.682-1.055 1.078-2.31 1.078-3.66 0-3.727-3.022-6.75-6.75-6.75zm4.255 9.493l-4.255 6.583-4.255-6.582c-.528-.817-.807-1.766-.807-2.744 0-2.792 2.27-5.063 5.062-5.063 2.79 0 5.063 2.27 5.063 5.063 0 .978-.28 1.927-.808 2.743z"
                          fill="#FFF" fill-rule="evenodd"></path>
                      </svg></span>
                  </div>
                </div>
                <div class="index__titles___2e5Ao">
                  <div class="index__blocHome___2gJSm"><span class="index__jersey___2Ubtw"><span><img
                          class="index__jerseyImg___3Bt1t" src="{{teamHome.jerseyUrl}}"></span></span>
                    <div class="index__team___2teXs"><span
                        class="index__largeTitles___3-CrD">{{teamHome.name}}</span><span
                        class="index__smallTitles___WIAFt">{{teamHome.abbr}}</span></div>
                  </div>
                  <div id="feature.newJerseys" class="index__blocAway___398Sh"><span
                      class="index__jersey___2Ubtw"><span><img class="index__jerseyImg___3Bt1t"
                          src="{{teamAway.jerseyUrl}}"></span></span>
                    <div class="index__team___2teXs"><span
                        class="index__largeTitles___3-CrD">{{teamAway.name}}</span><span
                        class="index__smallTitles___WIAFt">{{teamAway.abbr}}</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="index__content___7ZaXV">
              <div class="index__scorers___1VRIu">
                <div class="index__dotted___36KNs"><span
                    class="index__root___1mxjA index__span___2ImFl jss239 index__uppercase___3C7cm">Buteurs</span></div>
                <div class="index__scorersHome___1a6V9">
                  {{#each teamHome.goals}}
                  <div>
                    <div class="index__root___35Ve6">
                      <div class="index__root___1YYwH index__goal___21tBi">
                        {{#if (eq type "goal")}}
                        {{#each (loop p.goals.goal)}}
                        <span class="index__ball___39Bld index__root___2XTpz jss6">{{> graphics/goal}}</span>
                        {{/each}}
                        {{/if}}
                      </div>
                      <div class="index__root___1YYwH index__goalMPG___tv1Ay">
                        {{#if (eq type "mpg")}}
                        <span class="index__ball___39Bld index__mpg___uUgmt index__root___2XTpz jss6">{{>
                          graphics/goal}}</span>
                        {{/if}}
                      </div>
                    </div><span class="index__scorer___1gWL9">{{p.name}}</span>
                  </div>
                  {{#if (eq type "csc")}}
                  {{/if}}
                  {{/each}}
                </div>
                <div class="index__scorersAway___TQBET">
                  {{#each teamAway.goals}}
                  <div>
                    <div class="index__root___35Ve6">
                      <div class="index__root___1YYwH index__goal___21tBi">
                        {{#if (eq type "goal")}}
                        {{#each (loop p.goals.goal)}}
                        <span class="index__ball___39Bld index__root___2XTpz jss6">{{> graphics/goal}}</span>
                        {{/each}}
                        {{/if}}
                      </div>
                      <div class="index__root___1YYwH index__goalMPG___tv1Ay">
                        {{#if (eq type "mpg")}}
                        <span class="index__ball___39Bld index__mpg___uUgmt index__root___2XTpz jss6">{{>
                          graphics/goal}}</path>
                          </svg></span>
                        {{/if}}
                      </div>
                    </div><span class="index__scorer___1gWL9">{{p.name}}</span>
                  </div>
                  {{#if (eq type "csc")}}
                  {{/if}}
                  {{/each}}
                </div>
                <div class="index__liveOptions___V48qE"></div>
              </div>
              <div class="">
                <div class="index__pitchHorizontal___2r7RZ" style="font-size: 0;">
                  <div class="index__pitchHome___1UE8Y">
                    <div class="pitch pitch-horizontal pitch-top" data-formation="{{teamHome.composition}}">
                      <div class="body" style="background-image: url('{{> graphics/pitch-horizontal-top}}');">
                        <img class="logo" src="{{> graphics/mpg-logo}}" alt="Product Logo">
                        <ul class="players">
                          {{#each teamHome.players}}
                          {{> player}}
                          {{/each}}
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- 
                  -->
                  <div class="index__pitchAway___1viZy">
                    <div class="pitch pitch-horizontal pitch-bottom" data-formation="{{teamAway.composition}}">
                      <div class="body" style="background-image: url('{{> graphics/pitch-horizontal-bottom}}');">
                        <img class="logo" src="{{> graphics/mpg-logo}}" alt="Product Logo">
                        <ul class="players">
                          {{#each teamAway.players}}
                          {{> player}}
                          {{/each}}
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="index__substitutes___1y-FN">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="index__pitchHome___1UE8Y" style="font-size:0px">
                          {{#each teamHome.substitutePlayers}}
                          {{> player}}
                          {{/each}}
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="index__pitchAway___1viZy" style="font-size:0px">
                          {{#each teamAway.substitutePlayers}}
                          {{> player}}
                          {{/each}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="index__pitchVertical___27kTE">
                  <div class="index__pitchHome___1UE8Y">
                    <div class="index__substitutes___1y-FN" style="font-size:0px">
                      {{#each teamHome.substitutePlayers}}
                      {{> player}}
                      {{/each}}
                    </div>
                    <div class="pitch pitch-vertical pitch-top" data-formation="{{teamHome.composition}}">
                      <div class="body" style="background-image: url('{{> graphics/pitch-vertical-top}}');">
                        <img class="logo" src="{{> graphics/mpg-logo}}" alt="Product Logo">
                        <ul class="players">
                          {{#each teamHome.players}}
                          {{> player}}
                          {{/each}}
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="index__pitchAway___1viZy">
                    <div class="pitch pitch-vertical pitch-bottom" data-formation="{{teamAway.composition}}">
                      <div class="body" style="background-image: url('{{> graphics/pitch-vertical-bottom}}');">
                        <img class="logo" src="{{> graphics/mpg-logo}}" alt="Product Logo">
                        <ul class="players">
                          {{#each teamAway.players}}
                          {{> player}}
                          {{/each}}
                        </ul>
                      </div>
                    </div>
                    <div class="index__substitutes___1y-FN" style="font-size:0px">
                      {{#each teamAway.substitutePlayers}}
                      {{> player}}
                      {{/each}}
                    </div>
                  </div>
                </div>
                <div class="index__legendContainer___2Vw77">
                  <div>
                    <p><span class="index__legendLive___1P2ox"><span class="index__rate___3N_7P">6</span> Note en
                        cours</span><span class="index__legendNotLive___1QcCA"><span
                          class="index__rate___3N_7P">6</span> Note finale</span></p>
                  </div>
                  <div class="index__holdersLegend___yhcx_"><span class="index__holderLegend___3uz0r"><span
                        class="index__holder___3xsXV"><i class="fa fa-street-view"></i></span>Titulaire</span><span
                      class="index__holderLegend___3uz0r"><span class="index__holder___3xsXV index__sub___2EbIE"><i
                          class="fa fa-street-view"></i></span>Sur le banc</span><span
                      class="index__holderLegend___3uz0r"><span
                        class="index__holder___3xsXV index__notHolder___3BT_J"><i
                          class="fa fa-street-view"></i></span>Pas dans le groupe</span></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="index__root___3SOOx">
                    <div>
                      <div class="index__dotted___36KNs"><span
                          class="index__root___1mxjA index__span___2ImFl jss239 index__title___2hUiI index__uppercase___3C7cm">Remplaçants
                          tactiques de {{teamHome.name}}</span></div>
                    </div>
                    {{#each teamHome.substitutes}}
                    <div><span class="index__substituteNumber___2REZW"></span><span>{{substituteName}}{{#if
                        starterName}}remplacera {{starterName}} si note &lt; à {{rating}}{{/if}}</span></div>
                    {{/each}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="index__root___3SOOx">
                    <div>
                      <div class="index__dotted___36KNs"><span
                          class="index__root___1mxjA index__span___2ImFl jss239 index__title___2hUiI index__uppercase___3C7cm">Remplaçants
                          tactiques de {{teamAway.name}}</span></div>
                    </div>
                    {{#each teamAway.substitutes}}
                    <div><span class="index__substituteNumber___2REZW"></span><span>
                        {{substituteName}}
                        {{#if starterName}}remplacera {{starterName}} si note &lt; à {{rating}}{{/if}}
                      </span></div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>